.app {
  padding: 20px;

  .shapes {
    div {
      position: absolute;
      border-radius: 50%;
      background-color: rgba(110, 220, 42, 0.6);
      z-index: -2;
    }

    .circle-1 {
      width: 30px;
      height: 30px;
      top: calc(60% + 200px);
      left: 5%;
    }

    .circle-2 {
      width: 50px;
      height: 50px;
      bottom: calc(10% - 200px);
      right: 30px;
    }
  }

  .label-group {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .motion,
  .gravity {
    margin-bottom: 20px;
    position: relative;
    .talk {
      color: rgba(24, 24, 24, 0.58);
      max-width: 600px;
    }

    .chart-area {
      margin-top: 20px;
      margin-bottom: 50px;
    }

    .form-area {
      margin-top: 30px;
      form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 1fr;

        .unknown,
        .value {
          grid-column: 1 / 2;
        }

        .known {
          grid-column: 2 / 3;
          grid-row: 1 / 3;
          border-left: 1px solid #000;
          padding-left: 30px;

          img {
            position: absolute;
            top: calc(50% + 200px);
            transform: translateY(-50%);
            right: 0;
            width: 20%;
          }

          .heading {
            color: rgba(24, 24, 24, 0.83);
            font-weight: 600;
            margin-bottom: 10px;
          }

          .note {
            margin-top: 30px;
            font-weight: 700;
          }

          .input-group {
            margin-bottom: 20px;
          }
        }

        .value {
          .answer {
            color: #e28413;
            font-weight: 800;
          }
        }

        input,
        select {
          all: unset;
          display: block;
          width: 70%;
          border: 1px solid #1d1128;
          border-radius: 5px;
          padding: 0 5px;
          font-size: 0.8em;
          margin-top: 10px;
          font-family: inherit;
        }
        select {
          padding: 3px 5px;
        }
      }
    }
  }

  .gravity {
    .talk {
      max-width: 500px;
    }

    .form-area {
      form {
        grid-template-rows: 180px 1fr;
        select {
          margin-bottom: 20px;
        }
      }
    }
  }

  .projectile {
    .talk {
      color: rgba(24, 24, 24, 0.58);
      max-width: 600px;
      margin-bottom: 30px;
    }

    .chart-area {
      & + p {
        text-align: center;
        font-weight: 700;
        margin-top: 20px;
        font-size: 1.1em;
      }
    }

    .form-area {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 50px;

      .input-group {
        margin-bottom: 30px;
      }

      input {
        all: unset;
        display: block;
        width: 70%;
        border: 1px solid #1d1128;
        border-radius: 5px;
        padding: 0 5px;
        font-size: 0.8em;
        margin-top: 10px;
        font-family: inherit;
      }

      .info-area {
        background: rgba(235, 235, 235, 0.35);
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.17);
        border-radius: 11px;
        padding: 20px;
        width: 430px;

        p {
          margin-bottom: 10px;
          &.title {
            color: rgba(0, 0, 0, 0.55);
            font-weight: 700;
            text-align: center;
          }
        }

        input {
          width: 70px;
          display: inline-block;
          border: unset;
          background-color: #fff;
        }
      }
    }
  }

  .graph {
    .graph-name {
      text-align: center;
      font-weight: 700;
      font-size: 1.1em;
      margin-top: 40px;
    }

    .form-area {
      margin-top: 30px;
      label {
        display: block;
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 20px;
        white-space: nowrap;
        input {
          all: unset;
          border: 1px solid #000;
          border-radius: 5px;
          font-size: 0.8em;
          padding: 0 5px;
        }
      }

      button {
        all: unset;
        cursor: pointer;
        transform: scale(1.1);
        margin-bottom: 15px;
      }
    }
    .note {
      span {
        display: block;
        margin-top: 30px;
      }
    }
  }
}

@media screen and(max-width:1110px) {
  .app {
    .motion,
    .gravity {
      .form-area form {
        img {
          display: none;
        }
      }
    }
  }
}

@media screen and(max-width:800px) {
  .app {
    .projectile {
      .form-area {
        grid-template-columns: 1fr;
        form {
          margin-bottom: 40px;
          input {
            width: 100%;
          }
        }
        .info-area {
          width: 100%;
        }
      }
    }
  }
}

@media screen and(max-width: 700px) {
  .app {
    .shapes {
      display: none;
    }
    padding: 40px 20px;
    .label-group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 20px;
      grid-column-gap: 5px;
      a {
        width: fit-content;
      }
    }

    .motion,
    .gravity {
      .form-area {
        form {
          display: block;

          .value {
            margin-top: 30px;
          }

          .known {
            border: none;
            padding: 0;
            border-top: 1px solid #000;
            padding-top: 20px;
            margin-top: 20px;
          }
          input,
          select {
            width: 100%;
            border: 1px solid #1d112881;
          }
        }
      }
    }

    .projectile .chart-area + p {
      text-align: left;
    }
  }
}

@media screen and(max-width: 500px) {
  .app {
    .label-group {
      grid-template-columns: 1fr;
      a {
        width: 100%;
      }
    }
  }
}
