.copyright {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  font-weight: 600;
  a {
    text-decoration: none;
    color: #3562b9;
  }
  &.longpage {
    position: static;
    padding: 40px 0;
    text-align: center;
    transform: none;
  }
}

@media screen and(max-width:910px) {
  .copyright {
    position: static;
    padding: 40px 0;
    text-align: center;
    transform: none;
  }
}
