// Resets

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@import "./Styles/variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: $dark-color;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Intro Page
@import "./Styles/intro";

// Help Page
@import "./Styles/help";

// App Page
@import "./Styles/app";
